Assignment 1 (Prisma Query Writing Part 01)
In this assignment, we are giving you a picture of a database design diagram.
After looking at this database design, you need to create some CRUD operations with Prisma.
MySQL should be used as the database.

Image link: https://res.cloudinary.com/amitjs/image/upload/v1696747672/Ostad/tutorials24x7-blog-database_wp92sp.png

Requirements:
Must use NEXT-JS
CRUD operation using user model.
CRUD operation using post model.
CRUD operation using post_comment model.
CRUD operation using tag model.
CRUD operation using post_tag model.
CRUD operation using post_meta model.
CRUD operation using category model.
CRUD operation using post_category model.

If you need any help regarding the assignment, please join the support session and get it resolved.

Submission Instruction :

Please submit your GitHub repository link.



// npx prisma migrate dev