Assignment 1 (Prisma Query Writing Part 02)

In this assignment,
we are giving you a picture of a database design diagram.
After looking at this database design, you need to create some CRUD operations with Prisma.
MySQL should be used as the database.

Image link: https://res.cloudinary.com/amitjs/image/upload/v1697354809/Ostad/Screenshot_3_oni3dy.png


Requirements:

Must use NEXT-JS

CRUD operation using user, cart, category, order, product, product_meta, product_review model.

You Should be used at least once in the entire operation - aggregate, _avg, _count, groupBy, _max, _sum

Must be used Transactions & Rollback

If you need any help regarding the assignment, please join the support session and get it resolved.





// npx prisma migrate dev
// npx prisma migrate dev --init